@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/dropdown";

.Header {
  position: relative;
  z-index: 2;
  font-size: 11.5px;
  font-weight: 500;
  .TopHeaderWrapper {
    position: relative;
    .TopHeader {
      @media screen and (min-width: 768.99px) {
        height: 70px;
      }
      .TopHeaderColumn {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;

        &.TopHeaderSocialNetwork {
          justify-content: center;
          @media screen and (min-width: 768.99px) {
            justify-content: flex-start;
          }
        }
        &.TopHeaderLogo {
          justify-content: center;
        }
        &.TopHeaderSearch {
          justify-content: center;
          padding: -5px 18px 0 18px;
          &div{
            height: 200px !important;
          }
          @media screen and (min-width: 768.99px) {
            justify-content: flex-end;
          }
        }
      }
    }
    &::after {
      content: " ";
      display: block;
      width: 100%;
      position: absolute;
      bottom: 2px;
      height: 1.7px;
      background-color: #b5b5b5;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  .Dropdown {
    @extend .dropdown;

    .Menu {
      @extend .dropdown-menu;

      .Item {
        @extend .dropdown-item;
      }
    }
  }

  .SocialNetwork {
    margin: {
      bottom: 0;
    }

    span{
      display: none;
    }
  }

  .Nav {
    display: flex;
    flex-flow: nowrap row;
    & > .NavItem {
      position: relative;
      &:first-child {
        a.NavLink {
          padding-right: 0;
        }
      }
      a.NavLink {
        text-decoration: none;
        color: #a0a0a0;
        transition: all 0.2s linear;
        height: 38px;
        display: flex;
        align-items: center;
        padding: 0 20px 4px;
        box-sizing: border-box;
        position: relative;

        &::after {
          content: " ";
          display: block;
          width: 100%;
          height: 0;
          background-color: #831b1f;
          transition: all 0.2s linear;
          position: absolute;
          left: 0;
          bottom: 0;
        }

        &.Active,
        &:hover {
          color: #831b1f;
          &::after {
            height: 4px;
          }
        }
      }

      .Slider {
        position: absolute;
        background-color: #fff;
        width: 100%;
        overflow: hidden;
      }
    }
  }

  .Date {
    font: {
      size: 11px;
    }
    color: #aaaaaa;
    height: 100%;
    line-height: 35px;
    margin: 0;
  }
  .login{
    margin: 0 30px 0 0;
    height: 100%;
    line-height: 30px;
    font-size: 11px;
    color: #cccccc !important;
    a{
      text-decoration: none;
      color: #aaaaaa;
      padding: 5px;
      &:hover{
        color: #831b1f;
      }
    }
  }

  .MobileMenuToggle {
    position: fixed;
    top: 0;
    right: 0;
    transition: all 0.3s ease-in;
    z-index: 152;
  }

  &.MenuOpen {
    // background-color: gray;
    .MobileMenuToggle {
      position: fixed;
      top: 0;
      right: 230px;
    }
  }
}

.SlideEnter {
  // opacity: 0;
  // top: 0;
  // transform: translate(-50%, 0);
}
.SlideEnterActive {
  animation-name: showSlide;
  animation-duration: 0.3s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}
.SlideExit {
  // opacity: 1;
}
.SlideExitActive {
  animation-name: hideSlide;
  animation-duration: 0.3s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}

.FadeEnter {
  opacity: 0;
}
.FadeEnterActive {
  animation-name: showFade;
  animation-duration: 0.3s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}
.FadeExit {
  // opacity: 1;
}
.FadeExitActive {
  animation: hide 0.3s linear forwards;
}

.Backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #0005;
  z-index: 150;
}
.MobileMenuWrapper {
  position: fixed;
  width: 230px;
  height: 100vh;
  top: 0;
  right: 0;
  z-index: 151;
  background-color: #831b1f;
  .Nav {
    display: flex;
    flex-flow: nowrap column;
    & > .NavItem {
      position: relative;
      a.NavLink {
        text-decoration: none;
        color: #a0a0a0;
        transition: all 0.2s linear;
        height: 40px;
        display: flex;
        align-items: center;
        padding: 0 15px;
        box-sizing: border-box;
        position: relative;
        justify-content: space-between;

        &::after {
          content: " ";
          display: block;
          width: 100%;
          height: 0;
          background-color: #831b1f;
          transition: all 0.2s linear;
          position: absolute;
          left: 0;
          bottom: 0;
        }

        &.Active,
        &:hover {
          color: #831b1f;
          background-color: #fff;
          &::after {
            height: 0;
          }
        }
      }

      .Slider {
        position: relative;
        background-color: #0003;
        width: 100%;
        overflow: hidden;
        border-radius: 0 !important;
        box-shadow: none !important;
        .NavLink {
          padding-right: 25px;
        }
      }
    }
  }
}

@keyframes showSlide {
  0% {
    right: -230px;
  }
  100% {
    right: 0;
  }
}

@keyframes hideSlide {
  0% {
    right: 0;
  }
  100% {
    right: -230px;
  }
}

@keyframes showFade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes hide {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
