@font-face {
    font-family: IRANSans-web;
    src: url(../assets/fonts/iransans/IRANSans-Bold-web.eot);
    src: url(../assets/fonts/iransans/IRANSans-Bold-web.eot?#iefix) format("eot"),
	url(../assets/fonts/iransans/IRANSans-Bold-web.woff2) format("woff2"),
	url(../assets/fonts/iransans/IRANSans-Bold-web.woff) format("woff"),
	url(../assets/fonts/iransans/IRANSans-Bold-web.ttf) format("ttf");
    font-weight: 700
}
@font-face {
    font-family: IRANSans-web;
    src: url(../assets/fonts/iransans/IRANSans-Medium-web.eot);
    src: url(../assets/fonts/iransans/IRANSans-Medium-web.eot?#iefix) format("eot"),
	url(../assets/fonts/iransans/IRANSans-Medium-web.woff2) format("woff2"),
	url(../assets/fonts/iransans/IRANSans-Medium-web.woff) format("woff"),
	url(../assets/fonts/iransans/IRANSans-Medium-web.ttf) format("ttf");
    font-weight: 500
}
@font-face {
    font-family: IRANSans-web;
    src: url(../assets/fonts/iransans/IRANSans-UltraLight-web.eot);
    src: url(../assets/fonts/iransans/IRANSans-UltraLight-web.eot?#iefix) format("eot"),
	url(../assets/fonts/iransans/IRANSans-UltraLight-web.woff2) format("woff2"),
	url(../assets/fonts/iransans/IRANSans-UltraLight-web.ttf) format("ttf");
    font-weight: 200
}
@font-face {
    font-family: IRANSans-web;
    src: url(../assets/fonts/iransans/IRANSans-Light-web.eot);
    src: url(../assets/fonts/iransans/IRANSans-Light-web.eot?#iefix) format("eot"),
	url(../assets/fonts/iransans/IRANSans-Light-web.woff2) format("woff2"),
	url(../assets/fonts/iransans/IRANSans-Light-web.woff) format("woff"),
	url(../assets/fonts/iransans/IRANSans-Light-web.ttf) format("ttf");
    font-weight: 300
}
@font-face {
    font-family: IRANSans-web;
    src: url(../assets/fonts/iransans/IRANSans-web.eot);
    src: url(../assets/fonts/iransans/IRANSans-web.eot?#iefix) format("eot"),
	url(../assets/fonts/iransans/IRANSans-web.woff2) format("woff2"),
	url(../assets/fonts/iransans/IRANSans-web.woff) format("woff"),
	url(../assets/fonts/iransans/IRANSans-web.ttf) format("ttf");
    font-weight: 400
}

@font-face {
    font-family: IRANSans-web-NUM;
    src: url(../assets/fonts/iransans/IRANSansWebNum.eot);
    src: url(../assets/fonts/iransans/IRANSansWebNum.eot?#iefix) format("eot"),
	url(../assets/fonts/iransans/IRANSansWebNum.woff) format("woff"),
	url(../assets/fonts/iransans/IRANSansWebNum.ttf) format("ttf");
    // font-weight: 200
}
