.offset-1 {
  margin-right: 8.3333333333%;
  margin-left: 0;
}

.offset-2 {
  margin-right: 16.6666666667%;
  margin-left: 0;
}

.offset-3 {
  margin-right: 25%;
  margin-left: 0;
}

.offset-4 {
  margin-right: 33.3333333333%;
  margin-left: 0;
}

.offset-5 {
  margin-right: 41.6666666667%;
  margin-left: 0;
}

.offset-6 {
  margin-right: 50%;
  margin-left: 0;
}

.offset-7 {
  margin-right: 58.3333333333%;
  margin-left: 0;
}

.offset-8 {
  margin-right: 66.6666666667%;
  margin-left: 0;
}

.offset-9 {
  margin-right: 75%;
  margin-left: 0;
}

.offset-10 {
  margin-right: 83.3333333333%;
  margin-left: 0;
}

.offset-11 {
  margin-right: 91.6666666667%;
  margin-left: 0;
}

@media (min-width: 576px) {
  .offset-sm-0 {
    margin-right: 0;
    margin-left: 0;
  }

  .offset-sm-1 {
    margin-right: 8.3333333333%;
    margin-left: 0;
  }

  .offset-sm-2 {
    margin-right: 16.6666666667%;
    margin-left: 0;
  }

  .offset-sm-3 {
    margin-right: 25%;
    margin-left: 0;
  }

  .offset-sm-4 {
    margin-right: 33.3333333333%;
    margin-left: 0;
  }

  .offset-sm-5 {
    margin-right: 41.6666666667%;
    margin-left: 0;
  }

  .offset-sm-6 {
    margin-right: 50%;
    margin-left: 0;
  }

  .offset-sm-7 {
    margin-right: 58.3333333333%;
    margin-left: 0;
  }

  .offset-sm-8 {
    margin-right: 66.6666666667%;
    margin-left: 0;
  }

  .offset-sm-9 {
    margin-right: 75%;
    margin-left: 0;
  }

  .offset-sm-10 {
    margin-right: 83.3333333333%;
    margin-left: 0;
  }

  .offset-sm-11 {
    margin-right: 91.6666666667%;
    margin-left: 0;
  }
}

@media (min-width: 768px) {
  .offset-md-0 {
    margin-right: 0;
    margin-left: 0;
  }

  .offset-md-1 {
    margin-right: 8.3333333333%;
    margin-left: 0;
  }

  .offset-md-2 {
    margin-right: 16.6666666667%;
    margin-left: 0;
  }

  .offset-md-3 {
    margin-right: 25%;
    margin-left: 0;
  }

  .offset-md-4 {
    margin-right: 33.3333333333%;
    margin-left: 0;
  }

  .offset-md-5 {
    margin-right: 41.6666666667%;
    margin-left: 0;
  }

  .offset-md-6 {
    margin-right: 50%;
    margin-left: 0;
  }

  .offset-md-7 {
    margin-right: 58.3333333333%;
    margin-left: 0;
  }

  .offset-md-8 {
    margin-right: 66.6666666667%;
    margin-left: 0;
  }

  .offset-md-9 {
    margin-right: 75%;
    margin-left: 0;
  }

  .offset-md-10 {
    margin-right: 83.3333333333%;
    margin-left: 0;
  }

  .offset-md-11 {
    margin-right: 91.6666666667%;
    margin-left: 0;
  }
}

@media (min-width: 992px) {
  .offset-lg-0 {
    margin-right: 0;
    margin-left: 0;
  }

  .offset-lg-1 {
    margin-right: 8.3333333333%;
    margin-left: 0;
  }

  .offset-lg-2 {
    margin-right: 16.6666666667%;
    margin-left: 0;
  }

  .offset-lg-3 {
    margin-right: 25%;
    margin-left: 0;
  }

  .offset-lg-4 {
    margin-right: 33.3333333333%;
    margin-left: 0;
  }

  .offset-lg-5 {
    margin-right: 41.6666666667%;
    margin-left: 0;
  }

  .offset-lg-6 {
    margin-right: 50%;
    margin-left: 0;
  }

  .offset-lg-7 {
    margin-right: 58.3333333333%;
    margin-left: 0;
  }

  .offset-lg-8 {
    margin-right: 66.6666666667%;
    margin-left: 0;
  }

  .offset-lg-9 {
    margin-right: 75%;
    margin-left: 0;
  }

  .offset-lg-10 {
    margin-right: 83.3333333333%;
    margin-left: 0;
  }

  .offset-lg-11 {
    margin-right: 91.6666666667%;
    margin-left: 0;
  }
}

@media (min-width: 1200px) {
  .offset-xl-0 {
    margin-right: 0;
    margin-left: 0;
  }

  .offset-xl-1 {
    margin-right: 8.3333333333%;
    margin-left: 0;
  }

  .offset-xl-2 {
    margin-right: 16.6666666667%;
    margin-left: 0;
  }

  .offset-xl-3 {
    margin-right: 25%;
    margin-left: 0;
  }

  .offset-xl-4 {
    margin-right: 33.3333333333%;
    margin-left: 0;
  }

  .offset-xl-5 {
    margin-right: 41.6666666667%;
    margin-left: 0;
  }

  .offset-xl-6 {
    margin-right: 50%;
    margin-left: 0;
  }

  .offset-xl-7 {
    margin-right: 58.3333333333%;
    margin-left: 0;
  }

  .offset-xl-8 {
    margin-right: 66.6666666667%;
    margin-left: 0;
  }

  .offset-xl-9 {
    margin-right: 75%;
    margin-left: 0;
  }

  .offset-xl-10 {
    margin-right: 83.3333333333%;
    margin-left: 0;
  }

  .offset-xl-11 {
    margin-right: 91.6666666667%;
    margin-left: 0;
  }
}
